<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet"   href="../static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=PT+Serif&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="">
	<div class="container">
		<div class="img">
			<img src="">
		</div>
		<div class="login-content">
			<form action="/createbutton/" method = "post">
				<img src="../static/img/logo.svg">
				<h2 class="title">Create An Account</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="text" class="input" name="cemail">
           		   </div>
           		</div>
                <div class="input-div three">
           		   <div class="i">
           		   		<i class="fas fa-info-circle"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Name</h5>
           		   		<input type="text" class="input" name="cname">
           		   </div>
           		</div>
                <div class="input-div three">
           		   <div class="i">
           		   		<i class="fas fa-info-circle"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Surname</h5>
           		   		<input type="text" class="input" name="csurname">
           		    </div>
                </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="cpassword">
            	   </div>
            	</div>
				<a href="logined.html">Back to log-in</a>
            	<input type="submit" class="btn" onlick="myFunctions()" value="Crate An Account">
            </form>
        </div>
    </div>
	
    <script type="text/javascript" src="../static/mained.js"></script>
</body>
</html>
